
#login{
    position: absolute; /* Specifies the type of positioning method used for an element (static, relative, absolute or fixed)*/
    top: 0px;
    width: 80%;
    left: 60px;
    padding: 18px 6% 60px 6%; /*An element's padding is the space between its content and its border.
    (order is top right bottom left)  */
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 2px solid rgba(255, 164, 164); /*border-size border-style border-color */
    box-shadow: /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
        0pt 2px 5px rgba(138, 71, 100, 0.6),
        0px 0px 8px 5px rgba(226, 208, 220, 0.6) inset;
    border-radius: 5px;
}

#login{
    z-index: 22;
}

/**** general text styling ****/
#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
	background: 
	-webkit-repeating-linear-gradient(-45deg, 
		rgb(18, 83, 93) , 
		rgb(18, 83, 93) 20px,
		rgb(64, 111, 118) 20px,
		rgb(64, 111, 118) 40px,
		rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#wrapper h1:after{
	content:' ';
	display:block;
	width:100%;
	height:2px;
	margin-top:10px;
	background: 
		linear-gradient(left,  
			rgba(147,184,189,0) 0%,
			rgba(147,184,189,0.8) 20%,
			rgba(147,184,189,1) 53%,
			rgba(147,184,189,0.8) 79%,
			rgba(147,184,189,0) 100%); 
}
/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgba(231, 141, 141, 0.548); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgba(231, 141, 141, 0.747);
	font-style: italic;
} 
input {
  outline: none;
}

.aboutModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 23; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutModal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	
  }
  
  